:root {

font-family: 'Space Grotesk', sans-serif;


}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    outline: 1px solid red;
    margin: 0;
    
}

.container {

    width: 100%;
    background-color: white;
    box-shadow: 0em 0.5em 0.5em rgba(0, 0, 0, 0.118);    
    height: 100%;
    

}

.card__top {

    height: 30%;
    position: relative;
    background-image: url("./images/bg-main-mobile.png");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    
    
}




.card__white {

    right: 120px;
    position: relative;
    height: 180px;
    top: 30px;
    min-width: 320px;
    z-index: 25;
    border-radius: 10px;
    background-image: url("./images/bg-card-back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 14px 25px 34px -21px rgba(0,0,0,0.48);

}


.card__purple {
    position: relative;
    min-width: 320px;
    top: 150px;
    left: 120px;
    height: 180px;
    border-radius: 10px;
    z-index: 50;
    background-image: url("./images/bg-card-front.png");
    background-position:right;
    background-repeat: no-repeat;
    box-shadow: 14px 25px 34px -21px rgba(0,0,0,0.48);

    
    
}

.card__info {

margin: 20px;
height: 80%;

display: flex;
flex-direction: column;
justify-content:space-between ;

}

.child {


    

    display: flex;
    justify-content: space-between;
}

.circles {

    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
    
    

}



#card__circle {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;

}

#card__circle__small {

    width: 12px;
    height: 12px;
    outline: 1px solid white;
    border-radius: 50%;
}



#child-span {

    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#cvc-num {

    z-index: 100;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 35px;
    font-size: 0.8em;

    
}

#cred-number {

    font-size: 1.1em;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.row {

    display: flex;
    flex-wrap: wrap;
    
    
    
    
}

.col-50 {

    flex: 50%;
    
    
}



.col-25 {

    display: flex;
    gap: 10px;
    margin-right: 10px;
        

    

}



.col-100 {

    flex: 100%;
    
    padding-top: 5px;

}



   
form {
    padding-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 360px;
    
}

.card__container {
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


.card__checkout {
    padding-bottom: 40px;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 360px;
}

#complete {
    animation-duration: 2s;
        animation-iteration-count: 1;
    animation-name: bounce;
        animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
        

}


@keyframes bounce {


     
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    


}

#ty {

    text-transform: uppercase;
    font-size: 1.9em;
    font-weight: 500;
    letter-spacing: 3px;
    padding-top: 20px;
}

#added {

font-size: 1.1em;
color: hsl(279, 6%, 55%);

}

#btn2 {

    margin-top: 50px;
}

label {

    display: block;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1px;
    margin: 5px;
    padding-bottom: 5px;
}



input[type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px 15px;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 7px;
    border: 1px solid hsl(270, 3%, 87%);
    
    
    

    
    
  }


  
  .form-span {

    margin: 5px;
    font-size: 0.7em;
    color: red;
    
  } 

  
  ::placeholder {

    color: hsl(270, 3%, 87%);
  }

  .btn {

    
    width: 100%;
    
    
    padding: 15px 10px 15px 10px;
    font-size: 1em;
    color: white;
    font-weight: 500;
    background-color: hsl(278, 68%, 11%);
    border-radius: 7px;
    font-family: 'Space Grotesk', sans-serif;
    border: none;
    transition: .2s ease-in-out;
    
    
  }
  .btn:hover {

    cursor: pointer;
    background-color: purple;
  }

 
  /* Desktop version */


  @media screen and (min-width: 1440px) {


    .container {

        display: flex;
        justify-content: center;
        }

        .card__top {

            height: 100%;
            width: 30%;
            display: flex;
            align-items: center;
            background-image: url("./images/bg-main-desktop.png");
            
        }

        .card__purple {

            
            min-width: 420px;
            height: 240px;
            background-size: cover;
            left: 450px;
            top: -150px;
        }

        .card__white {

            min-width: 420px;
            height: 240px;
            background-size: cover;
            top: 130px;
            left: 100px;

        }



        .card__container {

            width: 100%;
            display: flex;
            justify-content:baseline;
            width: 70%;
        }


        #cred-number {

            font-size: 1.7em;
        }


        #card__circle {
            width: 45px;
            height: 45px;
        
        }
        
        #card__circle__small {
        
            width: 20px;
            height: 20px;
        }

        #child-span {

            font-size: .9em;
        }

        #cvc-num {

            font-size: .9em;
            margin-right: 40px;

        }

  }


  @media screen and (max-width: 375px) {


    .container {

        width: 375px;

    }

    form {

        width: 2750px;
    }

    .card__top {

        width: 100%;
    }


  }